In [1]:
# Note: ALWAYS USE PYTHON3. 
# MAKE SURE YOU GET PYTHON3 answers when you search google!

In [2]:
h = 20
print(h)

20

In [3]:
id(h)

4473829312

In [16]:
x = 20

In [17]:
id(x)

4473829312

In [18]:
h = 'little'
print(h)

little

In [19]:
g = "big"
print(g)

big

In [20]:
print(type(g))

<class 'str'>

In [21]:
h = 20
print(type(h))

<class 'int'>

In [22]:
f = 65.7
type(f)

float

In [23]:
20+45

65

In [24]:
20.5 + 45

65.5

In [25]:
20+ "20"  # ERROR

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
20 + int("20") #OK

40

In [27]:
20 + int("hello") #ERROR

ValueError: invalid literal for int() with base 10: 'hello'

In [28]:
t = int(9.5)
print(t)
print(type(t))

9
<class 'int'>

In [29]:
item = str(9)
item

'9'

In [30]:
type(item)

str

In [31]:
dir(item)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [33]:
type(9)

int

In [34]:
dir(9)  

# 9 is an int OBJECT, with attributes and methods. We will ignore the dunder methods 
#(dunder => double underscore)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [35]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [36]:
#float, str, int, bool 
# these are the 'basic' types

In [37]:
5 > 4  #This is a boolean expression. Evaluates to True or False.

True

In [38]:
greater = 5 > 4
print(greater)  # greater is of type bool

True

In [39]:
type(greater)

bool

In [40]:
#Container Types: list, tuple, dict

In [41]:
my_list = [] #empty list. Like arrays in other languages

In [42]:
type(my_list)

list

In [43]:
# IMPORTANT: Avoid using the word 'list' AS A VARIABLE NAME!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [44]:
print(my_list)

[]

In [45]:
# use lists to hold other types. Lists can even contain other lists!

In [46]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [47]:
my_list = [45.7, 99.9]
my_list

[45.7, 99.9]

In [48]:
my_list = [5, 55.5]
print(my_list)

[5, 55.5]

In [49]:
my_list = ['strings', 5] #DONT DO THIS. Use lists to hold objects of the same type.

In [50]:
#Aside: Use tuples to hold related objects of different types  
my_tuple = ('alex', 22, "1313 Mockingbird Lane")

In [51]:
my_list = [5, 55.5]
print(my_list)

[5, 55.5]

In [52]:
# The first item in a list is at index 0
my_list[0]

5

In [53]:
# The second item in a list is at index 1
my_list[1]

55.5

In [54]:
my_list[2] #ERROR. There is nothing at index 2

IndexError: list index out of range

In [55]:
len(my_list) # my_list has two elements. length = 2

2

In [56]:
# tuples

t1 = 'Alex', 'Trebec', '79'
t2 = 6,7,8,9,10
print(t1)
print(t2)

('Alex', 'Trebec', '79')
(6, 7, 8, 9, 10)

In [57]:
type(t1)

tuple

In [58]:
t3 = 6,7
t3

(6, 7)

In [59]:
t3[0] , t3[1]

(6, 7)

In [60]:
t3 = 100, 200 # this works. It is ok to move the post-it note, t3, somewhere else.
t3

(100, 200)

In [61]:
t3[0] = 2700 # this does not work. You cannot change the elements of a tuple after creation.

TypeError: 'tuple' object does not support item assignment

In [62]:
my_list = ['hello', 'sean']
my_list

['hello', 'sean']

In [63]:
my_list[0] = 'sun' #this works. Totally ok to change the elements of a list at any time.
my_list

['sun', 'sean']

In [64]:
type(my_list)

list

In [65]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [66]:
# List Methods

In [67]:
my_list.append(10)
print(my_list)

['sun', 'sean', 10]

In [68]:
my_list.append([1,20,30,40])
my_list

['sun', 'sean', 10, [1, 20, 30, 40]]

In [69]:
my_list = ['hello', 'sean']

In [70]:
my_list.extend(["one", "two", "three"])
my_list

['hello', 'sean', 'one', 'two', 'three']

In [71]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [72]:
my_list.extend([8,9,11])
print(my_list)

[1, 2, 3, 8, 9, 11]

In [73]:
my_list.append([100,200,300])
my_list

[1, 2, 3, 8, 9, 11, [100, 200, 300]]

In [74]:
my_list = [1, 5, 10]

In [75]:
#danger
my_list.reverse() #reverse destroys and replaces the original list
print(my_list)

[10, 5, 1]

In [76]:
my_list

[10, 5, 1]

In [77]:
#danger
my_list = [333, 5, 10]
my_list.sort()
print(my_list) #sort destroys and replaces the original list

[5, 10, 333]

In [78]:
result = my_list.sort()

In [79]:
print(result)

None

In [80]:
type(result)

NoneType

In [81]:
8*result # None cannot be used in calculations. It will give you errors that are hard to understand.

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [82]:
n * 8

NameError: name 'n' is not defined

In [83]:
my_list = [45,6,333]

In [84]:
#sorted makes a new list and leaves the original list unchanged

n2 = sorted(my_list)
n2

[6, 45, 333]

In [85]:
id(my_list), id(n2) #ids are different, so they are different objects

(4514304200, 4514290504)

In [86]:
my_list

[45, 6, 333]

In [87]:
sorted(my_list) #reverse defaults to False, so you don't need to pass it

[6, 45, 333]

In [88]:
sorted(my_list, reverse=False) #same answer

[6, 45, 333]

In [89]:
sorted(my_list, reverse=True) #if you pass reverse=True, sorts from biggest to smallest

[333, 45, 6]

In [90]:
sorted #sorted is a global function

In [91]:
my_list = [333, 5, 10]

In [92]:
new_list = reversed(my_list)

In [93]:
print(my_list) #original list unchanged

[333, 5, 10]

In [94]:
new_list #python is LAZY. Does not want to reverse the list. 
# Python Made an object that tells it how to reverse the list instead.

In [95]:
print(new_list)

<list_reverseiterator object at 0x10d11e080>

In [96]:
#reversed is a LAZY operator
print(new_list) #this makes an object, but list has not been reversed yet!

<list_reverseiterator object at 0x10d11e080>

In [97]:
my_list

[333, 5, 10]

In [98]:
list(new_list)

[10, 5, 333]

In [99]:
new_list[0]

TypeError: 'list_reverseiterator' object is not subscriptable

In [100]:
print(list(new_list)) #can see the result if you explicitly convert to a list

[]

In [101]:
my_list

[333, 5, 10]

In [102]:
r = range(10) # range is also LAZY.
r

range(0, 10)

In [103]:
print(r)

range(0, 10)

In [104]:
list(r) # converting to a list forces Python to evaluate the range.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
print(range(1,1000000000000000000000)) # range is a lazy data type.

range(1, 1000000000000000000000)

In [106]:
#python is a whitespace significant language
#indentation matters!
for i in range(10):
    print(i) # inside of the loop
print(100) #outside of the loop

0
1
2
3
4
5
6
7
8
9
100

In [107]:
for i in range(10):
print(i)  #whitespace is 100% necessary!

IndentationError: expected an indented block (<ipython-input-107-9d531a5c1e31>, line 2)

In [108]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [109]:
for i in range(9): #starts at zero if no default first value is given
    print(i)

0
1
2
3
4
5
6
7
8

In [110]:
for i in range(1,12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [111]:
for i in range(1,11,2):
    print(i)
print('done')

1
3
5
7
9
done

In [112]:
for i in range(1,16,2): #start at 1, go up to but not including 11, count by 2s
    print(i)

1
3
5
7
9
11
13
15

In [113]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [114]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [115]:
my_list = ['a', 'b', 'c', 'd']
for letter in my_list:
    print(letter)

a
b
c
d

In [116]:
for number in range(0,3):
    print(number)

0
1
2

In [117]:
for item in reversed(my_list): #reversed does not change the original list
    print(item)

d
c
b
a

In [118]:
[3,4] + [5,6]

[3, 4, 5, 6]

In [119]:
my_list

['a', 'b', 'c', 'd']

In [120]:
for index, item in enumerate(my_list): #makes my_list into a tuple
    print(index, item)

0 a
1 b
2 c
3 d

In [121]:
for thing in enumerate('abcd'): #makes my_list into a tuple
    print(thing)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [122]:
my_str  = 'abcd'
my_str[0]

'a'

In [123]:
l = ['abcd', 'efgh']

In [124]:
for thing in enumerate(l): #makes my_list into a tuple
    print(thing)

(0, 'abcd')
(1, 'efgh')

In [125]:
mt = 5,6 #mt is of type tuple even though it doesn't have parentheses!
ml = [10,11] #list
ml.extend(mt)
print(ml)

[10, 11, 5, 6]

In [126]:
# dictionaries

In [127]:
d = {"a":1, "b":2, "c":3}
d

{'a': 1, 'b': 2, 'c': 3}

In [128]:
d['a']

1

In [129]:
# this is a comment
for key in d:
    print(key, d[key])

a 1
b 2
c 3

In [130]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [131]:
md = {'first':1, 'second':2, 'fourth':4}
print(md)

{'first': 1, 'second': 2, 'fourth': 4}

In [132]:
md = {'first':"The Matrix", 'second':"Superman", 'fourth':'Batman'}
print(md)

{'first': 'The Matrix', 'second': 'Superman', 'fourth': 'Batman'}

In [133]:
md['first'] = "Batman Begins"
print(md)

{'first': 'Batman Begins', 'second': 'Superman', 'fourth': 'Batman'}

In [134]:
md['second'] = None

In [135]:
md.items()

dict_items([('first', 'Batman Begins'), ('second', None), ('fourth', 'Batman')])

In [136]:
md.keys()

dict_keys(['first', 'second', 'fourth'])

In [137]:
md.values()

dict_values(['Batman Begins', None, 'Batman'])

In [138]:
for k in md: #goes through the keys one at a time
    print(k,md[k])

first Batman Begins
second None
fourth Batman

In [139]:
#changes the value associated with the key 'third'
md['third'] = "Ralph Breaks the Internet"
for k in md:
    print(k,md[k])

first Batman Begins
second None
fourth Batman
third Ralph Breaks the Internet

In [140]:
#changes the value associated with the key 'first'
md['first'] = ("Batman Begins", 3) 
print(md)

{'first': ('Batman Begins', 3), 'second': None, 'fourth': 'Batman', 'third': 'Ralph Breaks the Internet'}

In [141]:
md['second']

In [142]:
#if elif else
x = -5

if x > 5:
    print("greater than 5")
    
elif x == 5:
    print("Equal to 5")
else:
    print("less than 5")

less than 5

In [143]:
x = 55

if x > 5:
    print("greater than 5")

greater than 5

In [144]:
x = -5

if x > 5:
    print("greater than 5")
    
else:
    print("less than 5")

less than 5

In [145]:
x = 5

if x > 5:
    print("greater than 5")
elif x == 5:
print("Equal to 5")

IndentationError: expected an indented block (<ipython-input-145-0ecedbbdf319>, line 6)

In [146]:
def myfunc():
    print("ran the function")

In [147]:
g = myfunc()
type(g)

ran the function

NoneType

In [148]:
def myfunc():
    print("ran the function")
    return "done"

In [149]:
g = myfunc()
type(g)

ran the function

str

In [150]:
myfunc()

ran the function

'done'

In [151]:
def f():
    print("ran the function")

In [152]:
myvar = f()
myvar

ran the function

In [153]:
type(myvar)

NoneType

In [154]:
def myfunc2(): #correct way to write function that doesn't do anything
    pass

In [155]:
def myfunc3(): #not valid

SyntaxError: unexpected EOF while parsing (<ipython-input-155-93d9333e48c5>, line 1)

In [156]:
def myfunc4(val):
    return val+val

In [157]:
myfunc4("hello")

'hellohello'

In [158]:
def myfunc5(val):
    assert type(val) == int
    return val+val
myfunc5('hello')

AssertionError:

In [159]:
def myfunc4(val="hello there"):
    print(val)

myfunc4()

hello there

In [160]:
myfunc4("hello")

hello

In [161]:
# function can return a value
def myfunc5(val="hello there"):
    return val

var = myfunc5()
var2 = myfunc5("spike")
print(var, var2)

hello there spike

In [162]:
#functions can return any number of different values as a tuple
def myfunc6(val="hello there"):
    length = len(val) 
    return length, val    # length, val is a tuple

result = myfunc6("Birdbox")
print(result)

(7, 'Birdbox')

references: 

https://github.com/jakevdp/WhirlwindTourOfPython
https://snakify.org/en/