In [8]:
h = 20
print(h)

20

In [3]:
id(h)

4542228416

In [5]:
x = 20

In [6]:
id(x)

4542228416

In [9]:
h = 20
print(h)
h = 'little'
print(h)

g = "big"
print(g)

20
little
big

In [3]:
print(type(g))

<class 'str'>

In [5]:
h = 20
print(type(h))

<class 'int'>

In [6]:
f = 65.7
type(f)

float

In [3]:
20+45

65

In [4]:
20.5 + 45

65.5

In [10]:
20+ "20"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
20 + int("20")

40

In [8]:
20 + int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

In [6]:
t = int(9.5)
print(t, type(t))

9 <class 'int'>

In [11]:
item = str(9)
item

'9'

In [12]:
type(item)

str

In [12]:
dir(ch)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
dir(9)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [11]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
#float, str, int, bool

In [13]:
5 > 4

True

In [14]:
greater = 5 > 4
greater

True

In [15]:
type(greater)

bool

In [16]:
my_list = [] #empty list

In [17]:
type(my_list)

list

In [18]:
# DO NOT USE 'list' AS A VARIABLE NAME!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
List = "great" #this is ok

In [15]:
print(my_list)

[]

In [16]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [19]:
my_list = [45.7, 99.9]
my_list

[45.7, 99.9]

In [19]:
my_list = [5, 55.5]
print(my_list)

[5, 55.5]

In [17]:
my_list = ['strings', 5] #DONT DO THIS

In [19]:
# tuple

In [21]:
#tuple 
my_tuple = ('alex', 22, "1313 Mockingbird Lane")

In [22]:
my_list

['strings', 5]

In [24]:
my_list = [7, 5]

In [23]:
my_list[0]

7

In [5]:
my_list[1]

5

In [6]:
my_list[2]

IndexError: list index out of range

In [25]:
len(my_list)

2

In [21]:
my_list[2]

IndexError: list index out of range

In [26]:
t1 = 4,5
t2 = 5,6

In [11]:
type(t1)

tuple

In [27]:
t3 = 6,7

In [28]:
t3[0]

6

In [29]:
my_list

[7, 5]

In [30]:
my_list[0] = 5555555
print(my_list)

[5555555, 5]

In [31]:
t3

(6, 7)

In [33]:
t3 = 100, 200
t3

(100, 200)

In [32]:
t3[0] = 2700

TypeError: 'tuple' object does not support item assignment

In [14]:
t3 = 2700, 7
t3

(2700, 7)

In [34]:
my_list = ['hello', 'sean']
my_list

['hello', 'sean']

In [35]:
my_list[0] = 'sun'
my_list

['sun', 'sean']

In [29]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
my_list.append(10)
print(my_list)

['sun', 'sean', 10]

In [33]:
my_list.append([1,20,30,40])
my_list

['sun', 'sean', 10, [1, 20, 30, 40]]

In [38]:
my_list = ['hello', 'sean']

In [16]:
my_list.extend(["one", "two", "three"])
my_list

['hello', 'sean', 'one', 'two', 'three']

In [36]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [37]:
my_list.extend([8,9,11])
print(my_list)

[1, 2, 3, 8, 9, 11]

In [38]:
my_list.append([100,200,300])
my_list

[1, 2, 3, 8, 9, 11, [100, 200, 300]]

In [39]:
my_list = [1, 5, 10]

In [40]:
my_list.reverse() #reverse destroys and replaces the original list
print(my_list)

[10, 5, 1]

In [41]:
my_list

[10, 5, 1]

In [ ]:
my_list.sort()

In [42]:
my_list = [333, 5, 10]
my_list.sort()
print(my_list) #sort destroys and replaces the original list

[5, 10, 333]

In [43]:
result = my_list.sort()

In [44]:
print(result)

None

In [23]:
type(result)

NoneType

In [24]:
8*result

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [43]:
n * 8

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [45]:
my_list = [45,6,333]

In [46]:
n2 = sorted(my_list)
n2

[6, 45, 333]

In [47]:
id(my_list), id(n2)

(4579656904, 4581311176)

In [28]:
my_list

[45, 6, 333]

In [48]:
sorted(my_list, reverse=False)

[6, 45, 333]

In [49]:
sorted(my_list, reverse=True)

[333, 45, 6]

In [45]:
my_list

[5, 10, 333]

In [50]:
sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [ ]:
a

In [41]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [52]:
my_list = [333, 5, 10]

In [53]:
new_list = reversed(my_list)

In [32]:
new_list

In [54]:
print(new_list)

<list_reverseiterator object at 0x111a499b0>

In [55]:
#reversed is a LAZY operator
print(new_list) #this makes an object, but list has not been reversed yet!

<list_reverseiterator object at 0x111a499b0>

In [56]:
my_list

[333, 5, 10]

In [57]:
list(new_list)

[10, 5, 333]

In [58]:
new_list[0]

TypeError: 'list_reverseiterator' object is not subscriptable

In [89]:
print(list(new_list)) #can see the result if you convert to a list

[10, 5, 333]

In [41]:
my_list = [333, 5, 10]
list(reversed(my_list))

[10, 5, 333]

In [42]:
my_list

[333, 5, 10]

In [43]:
sorted(my_list)

[5, 10, 333]

In [44]:
print(my_list)

[333, 5, 10]

In [45]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [58]:
r = range(10)
r

range(0, 10)

In [59]:
print(r)

range(0, 10)

In [60]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
print(range(1,1000000000000000000000)) # range is a lazy data type

range(1, 1000000000000000000000)

In [60]:
for i in range(10):
print(i)

IndentationError: expected an indented block (<ipython-input-60-0c8aafc23d7e>, line 2)

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
#python is a whitespace significant language
#indentation matters!
for i in range(10):
    print(i)
print(100)

0
1
2
3
4
5
6
7
8
9
100

In [63]:
for i in range(10):
print(i)

IndentationError: expected an indented block (<ipython-input-63-0c8aafc23d7e>, line 2)

In [66]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type

In [67]:
for i in range(1,12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [68]:
for i in range(1,11):
    print(i)
print('done')

1
2
3
4
5
6
7
8
9
10
done

In [69]:
for i in range(1,11,2): #start at 1, go up to but not including 11, count by 2s
    print(i)

1
3
5
7
9

In [70]:
for i in range(10): #starts at zero if no default first value is given
    print(i)

0
1
2
3
4
5
6
7
8
9

In [72]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [73]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [75]:
my_list = ['a', 'b', 'c', 'd']
for letter in my_list:
    print(letter)

a
b
c
d

In [76]:
for number in range(0,3):
    print(number)

0
1
2

In [79]:
for item in reversed(my_list): #reversed does not change the original list
    print(item)

d
c
b
a

In [80]:
[3,4] + [5,6]

[3, 4, 5, 6]

In [38]:
my_list

[333, 5, 10]

In [39]:
for index, item in enumerate(my_list): #makes my_list into a tuple
    print(index, item)

0 333
1 5
2 10

In [85]:
for thing in enumerate('abcd'): #makes my_list into a tuple
    print(thing)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [86]:
my_str  = 'abcd'
my_str[0]

'a'

In [89]:
l = ['abcd', 'efgh']

In [90]:
for thing in enumerate(l): #makes my_list into a tuple
    print(thing)

(0, 'abcd')
(1, 'efgh')

In [58]:
mt = 5,6 #mt is of type tuple even though it doesn't have parentheses!
ml = [10,11] #list
ml.extend(mt)
print(ml)

[10, 11, 5, 6]

In [66]:
d = {"a":1, "b":2, "c":3}
d

{'a': 1, 'b': 2, 'c': 3}

In [67]:
d['a']

1

In [45]:
# this is a comment
for key in d1:
    print(key, d1[key])

a 1
b 2
c 3

In [59]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [95]:
md = {'first':1, 'second':2, 'fourth':4}
print(md)

{'first': 1, 'second': 2, 'fourth': 4}

In [47]:
md = {'first':"The Matrix", 'second':"Superman", 'fourth':'Batman'}
print(md)

{'second': 'Superman', 'first': 'The Matrix', 'fourth': 'Batman'}

In [48]:
md['first'] = "Batman Begins"
print(md)

{'second': 'Superman', 'first': 'Batman Begins', 'fourth': 'Batman'}

In [49]:
md['second'] = None

In [50]:
md.items()

dict_items([('second', None), ('first', 'Batman Begins'), ('fourth', 'Batman')])

In [65]:
md.keys()

dict_keys(['first', 'second', 'fourth'])

In [66]:
md.values()

dict_values(['Batman Begins', 'Superman', 'Batman'])

In [68]:
for k in md: #goes through the keys one at a time
    print(k,md[k])

first Batman Begins
second Superman
fourth Batman

In [99]:
#changes the value associated with the key 'third'
md['third'] = "Ralph Breaks the Internet"
for k in md:
    print(k,md[k])

first Batman Begins
second Superman
fourth Batman
third Ralph Breaks the Internet

In [70]:
#changes the value associated with the key 'first'
md['first'] = ("Batman Begins", 3) 
print(md)

{'first': ('Batman Begins', 3), 'second': 'Superman', 'fourth': 'Batman', 'third': 'Ralph Breaks the Internet'}

In [71]:
md['second']

'Superman'

In [51]:
#if elif else
x = -5

if x > 5:
    print("greater than 5")
    
elif x == 5:
    print("Equal to 5")
else:
    print("less than 5")

less than 5

In [54]:
x = 55

if x > 5:
    print("greater than 5")

greater than 5

In [101]:
x = -5

if x > 5:
    print("greater than 5")
    
else:
    print("less than 5")

less than 5

In [56]:
x = 5

if x > 5:
    print("greater than 5")
elif x == 5:
print("Equal to 5")

IndentationError: expected an indented block (<ipython-input-56-0ecedbbdf319>, line 6)

In [61]:
def myfunc():
    print("ran the function")

In [62]:
g = myfunc()
type(g)

ran the function

NoneType

In [63]:
def myfunc():
    print("ran the function")
    return "done"

In [64]:
g = myfunc()
type(g)

ran the function

str

In [107]:
myfunc()

ran the function

'done'

In [108]:
def f():
    print("ran the function")

In [109]:
myvar = f()
myvar

ran the function

In [111]:
type(myvar)

NoneType

In [65]:
def myfunc2(): #correct way to write function that doesn't do anything
    pass

In [112]:
def myfunc3(): #not valid

SyntaxError: unexpected EOF while parsing (<ipython-input-112-93d9333e48c5>, line 1)

In [67]:
def myfunc4(val):
    return val+val

In [68]:
myfunc4("hello")

'hellohello'

In [118]:
def myfunc5(val):
    assert type(val) == int
    return val+val
myfunc5('hello')

AssertionError:

In [84]:
def myfunc4(val="hello there"):
    print(val)

myfunc4()

hello there

In [85]:
myfunc4("hello")

hello

In [119]:
# function can return a value
def myfunc5(val="hello there"):
    return val

var = myfunc5()
var2 = myfunc5("spike")
print(var, var2)

hello there spike

In [93]:
#functions can return any number of different values as a tuple
def myfunc6(val="hello there"):
    length = len(val) 
    return length, val    # length, val is a tuple

result = myfunc6("Birdbox")
print(result)

(7, 'Birdbox')

references: 

https://github.com/jakevdp/WhirlwindTourOfPython
https://snakify.org/en/